img {
  width: 12em;
}

main {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  height: 100%;
}

h2, p {
  width: 12em;
  font-family: 'Work Sans', sans-serif;
}

header {
  text-align: center;

}





