img {
  width: 12em;
}

main {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  height: 100%;
}

h2, p {
  width: 12em;
  font-family: 'Work Sans', sans-serif;
}

header {
  text-align: center;

}

section {
  border: solid black 0.2em;
  padding: 1em;
  margin: 7em;
}
