section {
  margin: 25px;
  border: solid black 0.2em;
  padding: 1em;
  text-align: center;
}

h1 {
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 5em;
  padding: 1em;
}

nav {
  margin: 10px;
}

select {
  height: 30px;
  width: 10em;
  font-size: 20px;
  margin: 10px;
}

label {
  font-size: 1.6em;
}

#radio-buttons {
  margin: 20px;
}

